POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=se_lab

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=

PROMETHEUS_PORT=9090
GRAFANA_PORT=3000
GRAFANA_ADMIN=admin
GRAFANA_PASSWORD=admin

APP_PORT=8080
APP_ENV=development
